{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <h1>Hello {{ userEmail }}! This is the User Profile page ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/var/www/CarForRentSymfony/src/Controller/User/ProfileController.php'|file_link(0) }}">src/Controller/User/ProfileController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/var/www/CarForRentSymfony/templates/user/profile/index.html.twig'|file_link(0) }}">templates/user/profile/index.html.twig</a></code></li>
    </ul>
    <form action="{{ path('logout') }}" method="post" id="form-button-logout">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('logout') }}" id="csrf-token"/>
        <input
                class="btn btn-danger border-0 rounded-0 text-white" type="submit" id="_submit"
                name="_submit"
                value="Logout"
        />
    </form>
</div>
{% endblock %}
